/* -----------------------------------------------------
---------------------- Google Fonts ---------------------
------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----------------------------------------------------
---------------------- Common Style-------------------
------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    width: 80vw;
    margin: auto;
}

/* -----------------------------------------------------
---------------------- Header Section Style ------------
------------------------------------------------------ */

.header-container {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    margin-top: 2em;
}

.banner-image {
    width: 50%;
}

.banner-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 111px 0 111px 106px;
}

#banner-heading {
    font-size: 3.5em;
    line-height: 1em;
}

#banner-details {
    font-size: 0.8em;
    margin: 2em 0;
}

#watch-live-btn {
    background-color: #DD0000;
    border: 3px solid #DD0000;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-image img {
    width: 85%;
}

/* -----------------------------------------------------
---------------------- Main Section Style ------------
------------------------------------------------------ */

.main-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 4em;
}

.left-nav {
    width: 25rem;
    background-color: #161616;
    border-radius: 10px;
}

.blog-cards {
    width: 75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.blog-card {
    border: 1px solid #cac6c6;
    border-radius: 10px;
    cursor: pointer;
}

.blog-thumbnail img {
    width: 100%;
}

.thumbnail-details {
    padding: 1em;
}

.thumbnail-btn {
    border: 1px solid gray;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.thumbnail-btn:hover {
    border: 1px solid #DD0000;
    background-color: #DD0000;
    color: #ffffff;
}

.thumbnail-heading {
    font-size: 0.9em;
    padding: 1em 0;
}

.thumbnail-heading:hover {
    color: #DD0000;
}

.time-comment {
    display: flex;
    gap: 2em;
}

.time-comment p:nth-child(1):hover,
.time-comment p:nth-child(2):hover {
    color: #DD0000;
}











footer {
    width: 100vw;
    height: 30vh;
    background-color: #ffff;
}